@using SmartContractNethereum.Data.DTO
@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-dark text-light p-4">
    <h1>Transacciones</h1>
    <table class="table text-light">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Adress Remitente</th>
                <th scope="col">Cantidad Enviada</th>
                <th scope="col">Valor Gas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Transaction transaccion in ViewBag.Transacciones)
            {
                <tr>
                    <td>@transaccion.Id</td>
                    <td>@transaccion.SenderAddress</td>
                    <td>@transaccion.AmountToSend</td>
                    <td>@transaccion.GasValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>