@using SmartContractNethereum.Data.EF
@model Transaction
@{
    ViewData["Title"] = "Crear Transaccion";
}
<h1>@ViewData["Title"]</h1>
<div class="d-flex flex-row align-items-center align-content-center justify-content-center">
    <a asp-area="" asp-controller="Wallet" asp-action="Index"> <img src="~/img/wall-emask 1.png" class="m-5" /></a> <h3>BidbayMask</h3>
</div>
<form action="Crear" method="post">
    <div>
        Tu Adress:
        <input type="text" name="sernderAdress" value="@Model.SenderAddress" />
    </div>
    <div>
        Adrees que va a recibir tus tokens:
        <input type="text" name="receiberAdress" value="@Model.RecieverAddress" />
    </div>
    <div>
        Cantidad de tokens a enviar a enviar:
        <input type="number" name="quantityTokens" value="@Model.QuantityTokens" />
    </div>

    <input type="submit" value="Crear Transaccion" />
</form>

