@using ManagmentTaskApp.Model
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (Balance balance in ViewBag.balances)
    {
        <p ="@balance.Valor">@balance.Valor</p>
    }
</div>
